table, th, td {
    width:300px;
    border: 1px solid black;
    border-collapse: collapse;
    background: lightblue;
    padding: 1em;
   text-align: left;
   margin: 1em;
}

body{
    background-image: url(images/photo-b.jpeg)
  
}
.toronto_info{
display: flex;
margin: 1px;
 }

 img {
    display: inline-block;
    padding: 1px;
    margin: 1px;
  }

.place_info {
     display: flex;
    flex:1;
    margin: 1px;
}

